@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css */

/* Стили для Hero секции */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  padding: 20px;
}

.hero-content {
  text-align: center;
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #005bb5;
}

.hero-image {
  margin-left: 50px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
